<main>

  <h1>Schere Stein Papier</h1>

  <h3>Auswahl</h3>
  <div class="options">
    <div *ngFor="let option of optionsPlayer">
      <img src="{{option.img}}" alt="{{option.name}}"
      (click)="startGame(option)"
      >
    </div>
  </div>

  <div class="toggle" *ngIf="!gameFinished">

    <div class="player" *ngFor="let option of optionsPlayer">
      <img *ngIf="option.visible"
        src="{{option.img}}" alt="{{option.name}}">
    </div>


    <div class="computer" *ngFor="let opt of optionsCmp">
      <img *ngIf="opt.visible"
           src="{{opt.img}}" alt="{{opt.name}}">
    </div>

  </div>

  <div class="choices" *ngIf="gameFinished">

    <div class="choice">
      <h2>Player-Wahl:</h2>
      <img src="{{playersChoice.img}}" alt="{{playersChoice.name}}">
    </div>

    <div class="choice">
      <h2>Computer-Wahl:</h2>
      <img src="{{computersChoice.img}}" alt="{{computersChoice.name}}">
    </div>

  </div>


  <h1 *ngIf="gameFinished">{{winner}}</h1>

  <button (click)="reset()" *ngIf="gameFinished">Neue Runde?</button>



</main>
