<main>

  <div class="game-box">

    <div class="left">
      <h1>Schere Stein Papier</h1>

      <div class="game">

        <div class="player">

          <h2>Du</h2>

          <div class="toggle" *ngIf="!gameFinished">
            <ng-container class="player" *ngFor="let option of optionsPlayer">
              <img *ngIf="option.visible"
                   src="{{option.img}}" alt="{{option.name}}">
            </ng-container>
          </div>

          <div class="choices" *ngIf="gameFinished">
            <div class="choice">
              <img src="{{playersChoice.img}}" alt="{{playersChoice.name}}"
                   [class.lost]="playerLoser"
                   [class.won]="!playerLoser"
              >
            </div>
          </div>

        </div>

        <div class="computer">

          <h2>Computer</h2>

          <div class="toggle" *ngIf="!gameFinished">
            <ng-container class="computer" *ngFor="let opt of optionsCmp">
              <img *ngIf="opt.visible"
                   src="{{opt.img}}" alt="{{opt.name}}">
            </ng-container>
          </div>


          <div class="choices" *ngIf="gameFinished">
            <div class="choice">
              <img src="{{computersChoice.img}}" alt="{{computersChoice.name}}"
               [class.lost]="cmpLoser"
               [class.won]="!cmpLoser"
              >
            </div>

          </div>

        </div>

      </div>

      <h1 *ngIf="showWinner" class="winner">{{winner}}</h1>
    </div>

    <div class="right">
      <h3>Wähle</h3>
      <div class="options">
        <div *ngFor="let option of optionsPlayer">
          <img src="{{option.img}}" alt="{{option.name}}"
               (click)="startGame(option)"
          >
        </div>
      </div>

      <button (click)="reset()">
      <!--
      *ngIf="showWinner"
      -->
      Neue Runde</button>
    </div>

  </div>



</main>



