/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body, button {
  font-family: 'Nerko One', cursive;
  font-size: 25px;
  background-color: rgb(255, 246, 255);
  color: #a92e95;
}


