/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body, button {
  font-family: 'Nerko One', cursive;
  font-size: 25px;
  background-color: #6e6e6e;
  color: #2ab385;
  text-shadow: 1px 1px 1px black;
}


